*, *::before, *::after{
    margin: 0;
    padding: 0;
}

.container{
    box-sizing: border-box;
    padding: 0;
}

.form{
    box-sizing: border-box;
    width: 1500px;
    height: 866px;
    background-image: url(images/form.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    padding: 0 165px;
}

.form__title{
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 90px;
}

.form__text{
    font-size: 16px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
}

.form-address{
    display: flex;

}

.form__field{
    margin: 8px;
}

.form__input, .textarea__input, .form__btn{
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    background-color: rgb(64, 224, 208, .5);
    color: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border-left: 5px solid rgb(64, 224, 208, .5);
}

.textarea__input{
    height: 100%;
}

.form__input::placeholder, .textarea__input::placeholder{
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.form__input:hover, .textarea__input:hover, .form__btn:hover{
    border-left: 5px solid #355b82;
    background-color: rgb(43, 191, 176, .5);
}

.form__input:focus, .textarea__input:focus, .form__btn:focus{
    background-color: rgb(43, 191, 176, .5);
    border-left: 5px solid #355b82;
}

.form__our-address{
    text-align: left;
    margin-left: 170px;
    margin-top: 8px;
}

.form-address__title{
    font-size: 15px;
    /* line-height: 25px; */
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.form-address__text{
    font-size: 15px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}

footer{
    background-color: #262626;
    box-sizing: border-box;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 165px;
    margin: 0 auto;
}

.footer__copyright{
    font-size: 16px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #b9b9b9;
}

.footer__made-by{
    font-size: 16px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #b9b9b9;
}

.footer__logo-text{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #b9b9b9;
}

.footer__made-by--red-bold{
    font-weight: 700;
    color: #ff2b58;
}