body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1,h3{
    text-align: center;
    padding: 0;
    margin: 10px auto;
}

.container{
    background-color: antiquewhite(151, 75, 75);
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 30px;
    display: block;
}

.blocks{
    display: flex;
    justify-content: center;
    background-color: antiquewhite(151, 75, 75);
    padding: 20px;
    margin: 10px 0;
    
}

.first{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 10px;
    font-size: 20px;
    line-height: 50px;
    margin: 10px;
}

.second{
    display: inline-block;
    width: 150px;
    background-color: darkgrey;
    border-radius: 10px;
    font-size: 20px;
    line-height: 50px;
    margin: 10px;
}

button:hover{
    background-color: cadetblue;
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

button{
    border: none;
    background-color: inherit;
    width: 150px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 10px;
    font-size: 20px;
    line-height: 50px;

}

@media screen and (max-width: 350px) {
  .blocks {
    flex-wrap: wrap;
  }
}

