@font-face{
    font-family: ProximaNova-Regular;
    src: url(font/ProximaNova-Regular.woff);
    font-family: FuturaPT-Heavy;
    src: url(font/FuturaPT-Heavy.woff);
    font-family: PlayfairDisplay-Regular;
    src: url(font/PlayfairDisplay-Regular.woff);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    background-color: #464f54;
}

.main-content{
    position: relative;
}

.black-block{
    width: 876px;
    height: 187px;
    background-color: #181818;
    position: absolute;
    right: 0px;
    top: 47px;
    z-index: 1;
}

.black-block p:first-of-type{
    color: #777777;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    padding-left: 60px;
    padding-top: 35px;
}

.black-block > p:last-of-type{
    color: #fefefe;
    font-family: PlayfairDisplay-Regular;
    font-size: 48px;
    text-transform: capitalize;
    padding-left: 60px;
}

#horiz-line{
    position: absolute;  
    left: 60px;
    bottom: 50px;
}

#vert-line{
    position: absolute;
    left: 411px;
    top: 65px;
}

.orange-block{
    width: 812px;
    height: 76px;
    background-color: #f8be2c;
    position: absolute;
    right: 0px;
    top: calc(47px + 187px);
    z-index: 1;
    font-family: ProximaNova-Regular;
}

.inside-orange{
    width: 570px;
    height: 30px;
    margin-left: 40px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.inside-orange img:hover{
    /* background-color: silver; */
    color: white;
    -webkit-filter: invert(90%);
}

.fas{
    font-size: 25px;
    color: #fbdd95;
}

.fa-bold{
    color: white;
}

i:hover{
    color: white;
}

.fa-bold:hover{
    color: black;
}

.white-block{
    width: 1060px;
    height: 751px;
    background-color: #fff;
    position: absolute;
    top: 149px;
    left: 70px;
    font-family: Georgia, serif;
}

.white-block img{
    position: absolute;
    left: 67px
}

.white-block h1, h2, h3, p{
    padding: 0 121px;
}

.white-block h3{
    font-family: ProximaNova-Regular, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.22em;
    color: #b5b5b5;
    padding-top: 200px;
}

.white-block h1{
    font-family: FuturaPT-Heavy, sans-serif;
    font-size: 78px;
    color: #2a2a2a;
    padding-top: 40px;
    text-transform: uppercase;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #8f8f8f;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 10px;
}

.white-block p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    line-height: 40px;
    padding-top: 20px;
}

.white-block span{
    font-style: italic;
}